body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin, .form-save{
  margin-bottom: 10px;
}

.form-signin .form-control, .form-save .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus, .form-save .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-radius: 10px;
  border-radius: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 10px;
}

.form-signin button[type="submit"], .form-save button[type="submit"] {
    border-radius: 10px;
}

.form-save input[type="text"] {
  margin-bottom: 10px;
  border-radius: 10px;
}

.form-save input[type="file"] {
  margin-bottom: 10px;
  border-radius: 10px;
}
